<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <header>
      <%- include ('./partials/header-content') -%>
    </header>
    <main>
      <a class="button new-message" href="/new" target="_self"><span class="fas fa-plus"></span> New</a>
      <div class="msg-board"></div>
      <p class="message error-message"><span class="fa fa-exclamation-circle fa-lg fa-fw"></span> Unable to load message board at this time.</p>
    </main>
    <%- include ('./partials/footer') -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
