<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <header>
      <h1>Mini Message Board</h1>
    </header>
    <main>
      <a class="button new-message" href="/new" target="_self"><span class="fas fa-plus"></span> New</a>
      <div class="msg-board"></div>
    </main>
    <%- include ('./partials/footer') -%>
  </body>
</html>
