<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') -%>
  <body>
    <header>
      <%- include ('./partials/header-content') -%>
    </header>
    <main>
      <div id="msg-board-container">
        <noscript>
          <p class="message info-message"><span class="fa fa-info-circle fa-lg fa-fw"></span> This site uses JavaScript. Please enable JavaScript in your browser.</p>
        </noscript>
      </div>
    </main>
    <%- include ('./partials/footer') -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="/js/script.js"></script>
    <script>
      function renderMessages() {
        document.getElementById('msg-board-container').innerHTML = `
        <a class="button new-message" href="/new" target="_self"><span class="fas fa-plus"></span> New</a>
        <div class="msg-board"></div>`;

        axios.get('/api/messages').then(response => {
          document.querySelector('.msg-board').innerHTML = response.data.map(message => {
            return `<article class="msg-card">
              <div class="msg-card-header">
                <span class="username">${message.user}</span><span class="timestamp">${new Date(message.timestamp).toLocaleDateString()}</span>
              </div>
              <div class="msg">${message.message}</div>
            </article>`;
          }).join('');
        }).catch(() => {
          renderErrorMessage('Unable to load message board at this time.', '#msg-board-container');
        });
      }

      renderMessages();
    </script>
  </body>
</html>
