<header>
  <%- include ('./partials/header-content') -%>
</header>
<main>
  <div class="button-group">
    <a class="button new-message" href="/new" target="_self"><span class="icon fa-solid fa-plus fa-xs" aria-hidden="true"></span> New</a>
  </div>
  <div class="msg-board">
    <% messagesData.forEach(message => { %>
      <article class="msg-card">
        <div class="msg-card-header">
          <span class="username"><%= message.user %></span>
          <span class="date"><%= message.date.toLocaleDateString() %></span>
        </div>
        <div class="msg-content"><%= message.message %></div>
      </article>
    <% }) %>
  </div>
</main>
