html {
  background: hsl(205, 100%, 15%);
  background: linear-gradient(120deg, hsl(205, 100%, 10%), hsl(205, 100%, 20%)) fixed;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: hsl(202, 100%, 85%);
}

footer {
  background: hsla(0, 0%, 0%, 0.3);
  border-top: 1px solid hsl(202, 100%, 28%);
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}
